input {
    keyboard {
        xkb {
            options "caps:escape"
                 }
        numlock
    }

    touchpad {
                tap
               natural-scroll
        accel-speed 0.2
        }

    mouse {
         }

    trackpoint {
         }

    warp-mouse-to-focus

       focus-follows-mouse max-scroll-amount="0%"
}

gestures {
    hot-corners { off; }
}

workspace "1" { }
workspace "2" { }
workspace "3" { }
workspace "4" { }
workspace "5" { }

output "eDP-1" {
    mode "1920x1080@60.000"
    scale 1
    transform "normal"

    position x=0 y=0
}


cursor {
    xcursor-size 30
    xcursor-theme "Bibata-Modern-Ice"
}

overview {
  backdrop-color "#222436";
}

layer-rule {
    match namespace="^wallpaper$" // Or match your specific tool (e.g., swaybg)
    place-within-backdrop true
}




layout {
    gaps 5
    background-color "transparent"

    center-focused-column "never"

       preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

       default-column-width { proportion 0.5; }

       focus-ring {
          off

          width 0.1

          active-color "#fca7ea"
        }

        border {
        on

        width 1.3
        active-color "#fca7ea"
        inactive-color "#1e2030"

        urgent-color "#9b0000"

        }

    shadow {
        off
           softness 30
           spread 5
           offset x=0 y=5
          }

    struts {
       }
}

spawn-sh-at-startup "waybar -c ~/.config/waybar/verbcol.jsonc -s ~/.config/waybar/verbcol.css"
//spawn-sh-at-startup "swaybg -m fill -i ~/pics/walls/3.png"
spawn-at-startup "sh" "-c" "swaybg -m fill -i \"$(cat $HOME/.config/wallpaper)\""
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-at-startup "/home/revalbtw/.local/bin/gamma.sh"
spawn-at-startup "/home/revalbtw/.local/bin/sleep.sh"
spawn-at-startup "dunst"
spawn-at-startup "~/.local/bin/todo-daemon"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/pics/ss/ on %Y-%m-%d %H-%M-%S.png"

animations {
    // off

    // slowdown 3.0
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    draw-border-with-background false
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screen-capture"
}

window-rule {
  match title="Brave"
  open-maximized true
}

// window-rule {
//     match app-id="org.pwmt.zathura"
//     opacity 0.8
// }


window-rule {
  match title="Spotify"
  open-maximized true
  open-on-workspace "4"
}

window-rule {
    // Match the GTK portal window
    match app-id="xdg-desktop-portal-gtk"
    
    min-width 700
    min-height 500 
    max-width 1000
    max-height 800
    
    open-floating true
}



window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Return hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }

    Mod+D hotkey-overlay-title="Run an Application: rofi -show drun" { spawn "rofi" "-show" "drun"; }
    Mod+A { spawn "rofi" "-show" "window"; }
    Mod+S { spawn "~/.local/bin/browse.sh"; }
    // Mod+C { spawn "~/.local/bin/theme.sh"; }
    Mod+g { spawn "rofi" "-show" "calc"; }
    Mod+E { spawn "rofimoji"; }
    Mod+space { spawn "~/.local/bin/filesearch.sh"; }
    Mod+alt+space { spawn "~/.local/bin/filehid.sh"; }
    Mod+V { spawn "sh" "-c" "cliphist list | rofi -dmenu | cliphist decode | wl-copy"; }
    Mod+P { spawn "~/.local/bin/power.sh"; }
    Mod+T { spawn "~/.local/bin/todo.sh"; }
    Mod+shift+T { spawn "~/.local/bin/tl.sh"; }

    Mod+Shift+S { spawn "sh" "-c" "swaylock -f && systemctl suspend"; }

    Super+Alt+S allow-when-locked=true hotkey-overlay-title=null { spawn-sh "pkill orca || exec orca"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

   
    XF86AudioRaiseVolume  { spawn "~/.local/bin/dunstvol.sh" "up"; }
    XF86AudioLowerVolume  { spawn "~/.local/bin/dunstvol.sh" "down"; }
    XF86AudioMute         { spawn "~/.local/bin/dunstvol.sh" "mute"; }
    XF86MonBrightnessUp   { spawn "~/.local/bin/dunstback.sh" "up"; }
    XF86MonBrightnessDown { spawn "~/.local/bin/dunstback.sh" "down"; }
    

    Mod+W repeat=false { toggle-overview; }
    Mod+shift+escape { spawn-sh "kitty -e btop"; }

    Mod+Q repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

 
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+Alt+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+Alt+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Shift+Alt+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Shift+Alt+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollDown      { focus-column-right; }
    Mod+WheelScrollUp        { focus-column-left; }
    Mod+Shift+WheelScrollDown { move-column-right; }
    Mod+Shift+WheelScrollUp   { move-column-left; }
   

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+shift+1 { move-column-to-workspace 1; }
    Mod+shift+2 { move-column-to-workspace 2; }
    Mod+shift+3 { move-column-to-workspace 3; }
    Mod+shift+4 { move-column-to-workspace 4; }
    Mod+shift+5 { move-column-to-workspace 5; }
    Mod+shift+6 { move-column-to-workspace 6; }
    Mod+shift+7 { move-column-to-workspace 7; }
    Mod+shift+8 { move-column-to-workspace 8; }
    Mod+shift+9 { move-column-to-workspace 9; }
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }
    
   
    Mod+R { switch-preset-column-width; }
      Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    
    "Mod+Shift+N" { spawn "swaync-client" "-t"; }
    "Mod+Shift+D" { spawn "swaync-client" "-d"; }



    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    // Mod+t { toggle-window-floating; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

      Mod+Z hotkey-overlay-title="wallpaper" { spawn "/home/revalbtw/.local/bin/wp.sh"; }
    Mod+B { spawn "/home/revalbtw/.local/bin/barsel.sh"; }
    Mod+shift+B { spawn "/home/revalbtw/.local/bin/pywal.sh"; }
    Mod+x { spawn-sh "hyprpicker | wl-copy"; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    // Mod+Shift+P { power-off-monitors; }
}
